<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  namespace:mapper接口的全限定类名  -->
<mapper namespace="com.atguigu.spzx.manager.mapper.BrandMapper">
<select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.Brand">
    select * from brand where is_deleted = 0
</select>
    <insert id="addBrand">
        insert into brand (name,logo) values (#{name},#{logo})
    </insert>
    <update id="updateBrand">
        update brand set name=#{name},logo=#{logo} where id=#{id}
    </update>
    <update id="deleteById">
        update brand set is_deleted = 1 where id = #{id}
    </update>
    <select id="findAll" resultType="com.atguigu.spzx.model.entity.product.Brand">
        select * from brand where is_deleted = 0
    </select>
    <select id="findBrandListByCategoryId" resultType="com.atguigu.spzx.model.entity.product.Brand">
        select b.* from category_brand a inner join brand b on a.brand_id = b.id
        where a.category_id = #{categoryId} and is_deleted = 0
    </select>
</mapper>