<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  namespace:mapper接口的全限定类名  -->
<mapper namespace="com.atguigu.spzx.manager.mapper.ProductSkuMapper">
    <select id="findByProductId" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        select * from product_sku where product_id = #{productId} and is_deleted = 0
    </select>
    <delete id="deleteByProductId">
        update product_sku set is_deleted = 1 where product_id = #{productId} and is_deleted = 0
    </delete>
</mapper>