<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace: mapper接口的全限定类名-->
<mapper namespace="com.atguigu.spzx.manager.mapper.SysMenuMapper">

    <select id="findByParentId" resultType="com.atguigu.spzx.model.entity.system.SysMenu">
        SELECT * FROM `sys_menu` WHERE parent_id = #{parentId} and is_deleted = 0 order by  sort_value
    </select>

    <insert id="addMenu">
        INSERT INTO `sys_menu` (parent_id,title,component,sort_value,status) VALUE(#{parentId},#{title},#{component},#{sortValue},#{status})
    </insert>

    <update id="deleteById">
        UPDATE `sys_menu` SET is_deleted = 1 WHERE id = #{menuId} AND is_deleted = 0
    </update>

    <delete id="deleteByRoleId">
        DELETE FROM `sys_role_menu` WHERE role_id = #{roleId}
    </delete>

    <insert id="doAssignRoleMenu">
        INSERT INTO `sys_role_menu`(role_id,menu_id,is_half) VALUES
        <foreach collection="menuIdList" item="item" separator=",">
            (#{roleId},#{item.menuId},#{item.isHalf})
        </foreach>
    </insert>

    <select id="findMenuIdListByRoleId" resultType="java.lang.Long">
        SELECT menu_id FROM `sys_role_menu` WHERE role_id = #{roleId} AND is_half = 0
    </select>

    <select id="menusByUserIdAndParentId" resultType="com.atguigu.spzx.model.entity.system.SysMenu">
        SELECT DISTINCT c.* FROM `sys_user_role` a
                                     INNER JOIN `sys_role_menu` b ON a.role_id = b.role_id
                                     INNER JOIN `sys_menu` c ON c.id = b.menu_id
        WHERE a.user_id = #{userId} AND c.parent_id = #{parentId}  AND c.is_deleted = 0
    </select>
</mapper>